body {
  background-color: salmon;
  color: #000000;
  font-size: 16px;
  line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 1.25em;
  width: 100px;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

li {
  float: right;
  padding: 1.875em;
}

article {
  padding-top: 6.253em;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-size: 0.75em;
  margin-bottom: 0.675em;
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0.625em;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 0.625em;
}

.author {
  font-size: 0.875em;
  font-weight: 900;
}

p {
  margin-bottom: 0.75em;
}

.large-pic {
  width: 100%;
}
